
body{font-family: 'Montserrat', sans-serif;}

nav{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: #f6eddd;

}

.martin{color: #181818;
    font-size: 45px;
    font-style: normal;}

.orangetheme{color: #FD6E0A;}
.navlist{list-style: none; display: flex; align-items: center;}
nav li{margin-left: 30px;}


.mainbutton{padding: 10px 15px; border-style: none;
    background: #FD6E0A; color: white; cursor: pointer;} 
    .mainbutton:hover{color: rgb(75, 68, 68);}

    li > a{text-decoration: none;}
    nav a:hover{color: #FD6E0A;}

.header{background-color:#f6eddd; background-image: url(images/header_bg.png);
background-repeat: no-repeat; background-position: bottom right; background-size: 500px;
flex-shrink: 0;}
.banner{
    padding: 30px 30px 0px 150px; display: flex; box-sizing: border-box;
    flex-shrink: 0;
}

.main1{background-color: #f6eddd; padding: 50px; margin: 100px 0px 0px 70px;}
div ul{display: flex; list-style: none; margin-left: 20px;
    margin-top: 40px; justify-content: space-around;}
main{max-width: 1140px; text-align: center;}
.text{font-size: 18px;
    line-height: 30px;}
.details{font-weight: 700;}