
body{font-family: 'Montserrat', sans-serif;}

nav{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: #f6eddd;

}

.martin{color: #181818;
    font-size: 45px;
    font-style: normal;}

.orangetheme{color: #FD6E0A;}
.navlist{list-style: none; display: flex; align-items: center;}
nav li{margin-left: 30px;}


.mainbutton{padding: 10px 15px; border-style: none;
    background: #FD6E0A; color: white; cursor: pointer;} 
    .mainbutton:hover{color: rgb(75, 68, 68);}

    li > a{text-decoration: none;}
    nav a:hover{color: #FD6E0A;}

.header{background-color:#f6eddd; background-image: url(images/header_bg.png);
background-repeat: no-repeat; background-position: bottom right; background-size: 500px;
flex-shrink: 0;}

.banner{
    padding: 30px 30px 0px 150px; display: flex; box-sizing: border-box;
    flex-shrink: 0;
}

.main1{background-color: #f6eddd; padding: 100px; border-radius: 10px;
margin: 130px;}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;}

main{text-align: center;}

.text{font-size: 18px;
    line-height: 30px; text-align: center;}

.details{font-weight: 700;}

.text2{font-size: 18px;
   line-height: 30px;
text-align: center;}

.skillcontainer{display:flex; gap: 30px;
    justify-content: space-between; padding: 50px;
}

.skills{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 20px 6px 50px 30px rgba(0, 0, 0, 0.06);
padding: 30px;}
.resume{display: flex; justify-content: center; gap: 50px;
text-align: left;}